* Use Features to predict the medical costs
* Use features to predict a number -> Linear Regression Problem

In [1]:
import tensorflow as tf 
import pandas as pd 
import matplotlib.pyplot as plt

2023-01-09 23:02:21.113668: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# import and read the insurance.csv data file
insurance = pd.read_csv('./insurance.csv')
insurance.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

##### `One hot encoding for object inputs: sex, smoker, region 3/6`

In [5]:
# using pandas get_dummies
insurance_onehot = pd.get_dummies(insurance)
insurance_onehot

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [6]:
# create X and y values [features and labels]
# X values are supposed to be the features, drop the charges column
X = insurance_onehot.drop("charges", axis=1)
X

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,1,0,0,1,0,0
1334,18,31.920,0,1,0,1,0,1,0,0,0
1335,18,36.850,0,1,0,1,0,0,0,1,0
1336,21,25.800,0,1,0,1,0,0,0,0,1
1337,61,29.070,0,1,0,0,1,0,1,0,0

In [7]:
# the y values are our prediction: charges
y = insurance_onehot["charges"]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [8]:
# create a training and a test dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)
len(X), len(X_train), len(X_test)

(1338, 1070, 268)

In [9]:
len(y_test), len(y_train), len(y)

(268, 1070, 1338)

In [10]:
# build a neural network that takes in X_train, y_train and learns the relationship

# 1. initialize a random seed
tf.random.set_seed(42)
# 2. create a model
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(10),
        tf.keras.layers.Dense(10),
    ]
)

# 2. compile the model
model.compile(
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.01),
    loss = tf.keras.losses.mae,
    metrics = ["mae"]
)

# 3. Fit the model
model.fit(X_train, y_train, epochs=200)

2023-01-09 23:02:40.445961: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Epoch 1/200
34/34 [==============================] - 5s 12ms/step - loss: 13302.3535 - mae: 13302.3535
Epoch 2/200
34/34 [==============================] - 1s 18ms/step - loss: 13036.1045 - mae: 13036.1045
Epoch 3/200
34/34 [==============================] - 0s 14ms/step - loss: 12367.0596 - mae: 12367.0596
Epoch 4/200
34/34 [==============================] - 0s 14ms/step - loss: 11243.5273 - mae: 11243.5273
Epoch 5/200
34/34 [==============================] - 0s 12ms/step - loss: 9867.8037 - mae: 9867.8037
Epoch 6/200
34/34 [==============================] - 0s 12ms/step - loss: 8600.5059 - mae: 8600.5059
Epoch 7/200
34/34 [==============================] - 0s 12ms/step - loss: 7777.2583 - mae: 7777.2583
Epoch 8/200
34/34 [==============================] - 1s 15ms/step - loss: 7496.5820 - mae: 7496.5820
Epoch 9/200
34/34 [==============================] - 1s 16ms/step - loss: 7436.7383 - mae: 7436.7383
Epoch 10/200
34/34 [==============================] - 0s 12ms/step - loss: 7413.4404 - mae: 7413.4404
Epoch 11/200
34/34 [==============================] - 0s 12ms/step - loss: 7393.7720 - mae: 7393.7720
Epoch 12/200
34/34 [==============================] - 0s 11ms/step - loss: 7371.6318 - mae: 7371.6318
Epoch 13/200
34/34 [==============================] - 0s 12ms/step - loss: 7350.2559 - mae: 7350.2559
Epoch 14/200
34/34 [==============================] - 0s 12ms/step - loss: 7327.2944 - mae: 7327.2944
Epoch 15/200
34/34 [==============================] - 0s 12ms/step - loss: 7306.5591 - mae: 7306.5591
Epoch 16/200
34/34 [==============================] - 1s 19ms/step - loss: 7283.6670 - mae: 7283.6670
Epoch 17/200
34/34 [==============================] - 0s 13ms/step - loss: 7261.8120 - mae: 7261.8120
Epoch 18/200
34/34 [==============================] - 0s 12ms/step - loss: 7237.8320 - mae: 7237.8320
Epoch 19/200
34/34 [==============================] - 0s 12ms/step - loss: 7214.1738 - mae: 7214.1738
Epoch 20/200
34/34 [==============================] - 0s 12ms/step - loss: 7189.5044 - mae: 7189.5044
Epoch 21/200
34/34 [==============================] - 0s 12ms/step - loss: 7169.4424 - mae: 7169.4424
Epoch 22/200
34/34 [==============================] - 0s 13ms/step - loss: 7139.6621 - mae: 7139.6621
Epoch 23/200
34/34 [==============================] - 0s 12ms/step - loss: 7114.0957 - mae: 7114.0957
Epoch 24/200
34/34 [==============================] - 0s 12ms/step - loss: 7087.8286 - mae: 7087.8286
Epoch 25/200
34/34 [==============================] - 0s 12ms/step - loss: 7068.0000 - mae: 7068.0000
Epoch 26/200
34/34 [==============================] - 0s 12ms/step - loss: 7034.2065 - mae: 7034.2065
Epoch 27/200
34/34 [==============================] - 1s 16ms/step - loss: 7004.7451 - mae: 7004.7451
Epoch 28/200
34/34 [==============================] - 1s 16ms/step - loss: 6975.3452 - mae: 6975.3452
Epoch 29/200
34/34 [==============================] - 0s 14ms/step - loss: 6946.1768 - mae: 6946.1768
Epoch 30/200
34/34 [==============================] - 0s 12ms/step - loss: 6916.6006 - mae: 6916.6006
Epoch 31/200
34/34 [==============================] - 0s 12ms/step - loss: 6884.9707 - mae: 6884.9707
Epoch 32/200
34/34 [==============================] - 0s 12ms/step - loss: 6855.9180 - mae: 6855.9180
Epoch 33/200
34/34 [==============================] - 0s 12ms/step - loss: 6823.7896 - mae: 6823.7896
Epoch 34/200
34/34 [==============================] - 0s 13ms/step - loss: 6791.3115 - mae: 6791.3115
Epoch 35/200
34/34 [==============================] - 0s 13ms/step - loss: 6757.7944 - mae: 6757.7944
Epoch 36/200
34/34 [==============================] - 0s 14ms/step - loss: 6723.8921 - mae: 6723.8921
Epoch 37/200
34/34 [==============================] - 0s 13ms/step - loss: 6688.4004 - mae: 6688.4004
Epoch 38/200
34/34 [==============================] - 0s 11ms/step - loss: 6658.5732 - mae: 6658.5732
Epoch 39/200
34/34 [==============================] - 0s 12ms/step - loss: 6621.4429 - mae: 6621.4429
Epoch 40/200
34/34 [==============================] - 1s 15ms/step - loss: 6588.0542 - mae: 6588.0542
Epoch 41/200
34/34 [==============================] - 1s 17ms/step - loss: 6557.0601 - mae: 6557.0601
Epoch 42/200
34/34 [==============================] - 0s 13ms/step - loss: 6531.0513 - mae: 6531.0513
Epoch 43/200
34/34 [==============================] - 0s 12ms/step - loss: 6504.9673 - mae: 6504.9673
Epoch 44/200
34/34 [==============================] - 0s 12ms/step - loss: 6482.4941 - mae: 6482.4941
Epoch 45/200
34/34 [==============================] - 0s 11ms/step - loss: 6467.6455 - mae: 6467.6455
Epoch 46/200
34/34 [==============================] - 0s 12ms/step - loss: 6448.4697 - mae: 6448.4697
Epoch 47/200
34/34 [==============================] - 0s 14ms/step - loss: 6433.9429 - mae: 6433.9429
Epoch 48/200
34/34 [==============================] - 0s 13ms/step - loss: 6419.4404 - mae: 6419.4404
Epoch 49/200
34/34 [==============================] - 0s 12ms/step - loss: 6405.5859 - mae: 6405.5859
Epoch 50/200
34/34 [==============================] - 0s 12ms/step - loss: 6392.3555 - mae: 6392.3555
Epoch 51/200
34/34 [==============================] - 0s 12ms/step - loss: 6379.2036 - mae: 6379.2036
Epoch 52/200
34/34 [==============================] - 0s 13ms/step - loss: 6367.7339 - mae: 6367.7339
Epoch 53/200
34/34 [==============================] - 1s 20ms/step - loss: 6353.3213 - mae: 6353.3213
Epoch 54/200
34/34 [==============================] - 0s 13ms/step - loss: 6338.8208 - mae: 6338.8208
Epoch 55/200
34/34 [==============================] - 0s 12ms/step - loss: 6326.6924 - mae: 6326.6924
Epoch 56/200
34/34 [==============================] - 0s 12ms/step - loss: 6313.6943 - mae: 6313.6943
Epoch 57/200
34/34 [==============================] - 0s 13ms/step - loss: 6300.2402 - mae: 6300.2402
Epoch 58/200
34/34 [==============================] - 0s 13ms/step - loss: 6288.0312 - mae: 6288.0312
Epoch 59/200
34/34 [==============================] - 0s 13ms/step - loss: 6272.8311 - mae: 6272.8311
Epoch 60/200
34/34 [==============================] - 0s 13ms/step - loss: 6262.2744 - mae: 6262.2744
Epoch 61/200
34/34 [==============================] - 0s 12ms/step - loss: 6245.1582 - mae: 6245.1582
Epoch 62/200
34/34 [==============================] - 0s 12ms/step - loss: 6231.7812 - mae: 6231.7812
Epoch 63/200
34/34 [==============================] - 0s 11ms/step - loss: 6216.2705 - mae: 6216.2705
Epoch 64/200
34/34 [==============================] - 0s 12ms/step - loss: 6201.0854 - mae: 6201.0854
Epoch 65/200
34/34 [==============================] - 1s 20ms/step - loss: 6185.3940 - mae: 6185.3940
Epoch 66/200
34/34 [==============================] - 1s 16ms/step - loss: 6170.2456 - mae: 6170.2456
Epoch 67/200
34/34 [==============================] - 0s 12ms/step - loss: 6158.0977 - mae: 6158.0977
Epoch 68/200
34/34 [==============================] - 0s 12ms/step - loss: 6139.4175 - mae: 6139.4175
Epoch 69/200
34/34 [==============================] - 0s 12ms/step - loss: 6124.3560 - mae: 6124.3560
Epoch 70/200
34/34 [==============================] - 0s 11ms/step - loss: 6107.0630 - mae: 6107.0630
Epoch 71/200
34/34 [==============================] - 1s 17ms/step - loss: 6090.3364 - mae: 6090.3364
Epoch 72/200
34/34 [==============================] - 0s 14ms/step - loss: 6074.4897 - mae: 6074.4897
Epoch 73/200
34/34 [==============================] - 0s 12ms/step - loss: 6061.4150 - mae: 6061.4150
Epoch 74/200
34/34 [==============================] - 0s 12ms/step - loss: 6039.3291 - mae: 6039.3291
Epoch 75/200
34/34 [==============================] - 0s 11ms/step - loss: 6022.4888 - mae: 6022.4888
Epoch 76/200
34/34 [==============================] - 0s 12ms/step - loss: 6012.7822 - mae: 6012.7822
Epoch 77/200
34/34 [==============================] - 0s 12ms/step - loss: 5983.5806 - mae: 5983.5806
Epoch 78/200
34/34 [==============================] - 0s 12ms/step - loss: 5966.7617 - mae: 5966.7617
Epoch 79/200
34/34 [==============================] - 0s 14ms/step - loss: 5948.0942 - mae: 5948.0942
Epoch 80/200
34/34 [==============================] - 0s 12ms/step - loss: 5927.4258 - mae: 5927.4258
Epoch 81/200
34/34 [==============================] - 0s 12ms/step - loss: 5909.6406 - mae: 5909.6406
Epoch 82/200
34/34 [==============================] - 1s 17ms/step - loss: 5889.2446 - mae: 5889.2446
Epoch 83/200
34/34 [==============================] - 0s 14ms/step - loss: 5868.5400 - mae: 5868.5400
Epoch 84/200
34/34 [==============================] - 0s 12ms/step - loss: 5844.2827 - mae: 5844.2827
Epoch 85/200
34/34 [==============================] - 0s 12ms/step - loss: 5830.0537 - mae: 5830.0537
Epoch 86/200
34/34 [==============================] - 0s 14ms/step - loss: 5803.5454 - mae: 5803.5454
Epoch 87/200
34/34 [==============================] - 0s 11ms/step - loss: 5778.5835 - mae: 5778.5835
Epoch 88/200
34/34 [==============================] - 0s 12ms/step - loss: 5759.4321 - mae: 5759.4321
Epoch 89/200
34/34 [==============================] - 0s 12ms/step - loss: 5732.4927 - mae: 5732.4927
Epoch 90/200
34/34 [==============================] - 0s 13ms/step - loss: 5707.9985 - mae: 5707.9985
Epoch 91/200
34/34 [==============================] - 0s 11ms/step - loss: 5685.9600 - mae: 5685.9600
Epoch 92/200
34/34 [==============================] - 0s 12ms/step - loss: 5657.6948 - mae: 5657.6948
Epoch 93/200
34/34 [==============================] - 0s 13ms/step - loss: 5635.9927 - mae: 5635.9927
Epoch 94/200
34/34 [==============================] - 1s 19ms/step - loss: 5615.2754 - mae: 5615.2754
Epoch 95/200
34/34 [==============================] - 1s 15ms/step - loss: 5584.0342 - mae: 5584.0342
Epoch 96/200
34/34 [==============================] - 0s 12ms/step - loss: 5557.9307 - mae: 5557.9307
Epoch 97/200
34/34 [==============================] - 0s 13ms/step - loss: 5530.9312 - mae: 5530.9312
Epoch 98/200
34/34 [==============================] - 0s 12ms/step - loss: 5500.8359 - mae: 5500.8359
Epoch 99/200
34/34 [==============================] - 0s 12ms/step - loss: 5473.8169 - mae: 5473.8169
Epoch 100/200
34/34 [==============================] - 0s 13ms/step - loss: 5443.7720 - mae: 5443.7720
Epoch 101/200
34/34 [==============================] - 0s 13ms/step - loss: 5414.4048 - mae: 5414.4048
Epoch 102/200
34/34 [==============================] - 0s 13ms/step - loss: 5381.3794 - mae: 5381.3794
Epoch 103/200
34/34 [==============================] - 1s 16ms/step - loss: 5350.6235 - mae: 5350.6235
Epoch 104/200
34/34 [==============================] - 0s 13ms/step - loss: 5316.2344 - mae: 5316.2344
Epoch 105/200
34/34 [==============================] - 0s 12ms/step - loss: 5284.8799 - mae: 5284.8799
Epoch 106/200
34/34 [==============================] - 1s 20ms/step - loss: 5250.9570 - mae: 5250.9570
Epoch 107/200
34/34 [==============================] - 0s 11ms/step - loss: 5211.9512 - mae: 5211.9512
Epoch 108/200
34/34 [==============================] - 0s 12ms/step - loss: 5185.7593 - mae: 5185.7593
Epoch 109/200
34/34 [==============================] - 0s 12ms/step - loss: 5147.7202 - mae: 5147.7202
Epoch 110/200
34/34 [==============================] - 0s 12ms/step - loss: 5108.8701 - mae: 5108.8701
Epoch 111/200
34/34 [==============================] - 0s 12ms/step - loss: 5078.7676 - mae: 5078.7676
Epoch 112/200
34/34 [==============================] - 0s 11ms/step - loss: 5044.5879 - mae: 5044.5879
Epoch 113/200
34/34 [==============================] - 0s 12ms/step - loss: 4995.2139 - mae: 4995.2139
Epoch 114/200
34/34 [==============================] - 0s 14ms/step - loss: 4957.4585 - mae: 4957.4585
Epoch 115/200
34/34 [==============================] - 0s 11ms/step - loss: 4916.3315 - mae: 4916.3315
Epoch 116/200
34/34 [==============================] - 0s 13ms/step - loss: 4877.7104 - mae: 4877.7104
Epoch 117/200
34/34 [==============================] - 0s 12ms/step - loss: 4836.2412 - mae: 4836.2412
Epoch 118/200
34/34 [==============================] - 0s 13ms/step - loss: 4794.3184 - mae: 4794.3184
Epoch 119/200
34/34 [==============================] - 1s 16ms/step - loss: 4753.7280 - mae: 4753.7280
Epoch 120/200
34/34 [==============================] - 0s 12ms/step - loss: 4704.5708 - mae: 4704.5708
Epoch 121/200
34/34 [==============================] - 0s 15ms/step - loss: 4662.3936 - mae: 4662.3936
Epoch 122/200
34/34 [==============================] - 0s 13ms/step - loss: 4623.0742 - mae: 4623.0742
Epoch 123/200
34/34 [==============================] - 0s 14ms/step - loss: 4567.4556 - mae: 4567.4556
Epoch 124/200
34/34 [==============================] - 0s 12ms/step - loss: 4527.4473 - mae: 4527.4473
Epoch 125/200
34/34 [==============================] - 0s 12ms/step - loss: 4474.6675 - mae: 4474.6675
Epoch 126/200
34/34 [==============================] - 0s 12ms/step - loss: 4428.8101 - mae: 4428.8101
Epoch 127/200
34/34 [==============================] - 0s 12ms/step - loss: 4386.9067 - mae: 4386.9067
Epoch 128/200
34/34 [==============================] - 0s 12ms/step - loss: 4343.8291 - mae: 4343.8291
Epoch 129/200
34/34 [==============================] - 1s 19ms/step - loss: 4300.4722 - mae: 4300.4722
Epoch 130/200
34/34 [==============================] - 1s 15ms/step - loss: 4254.7124 - mae: 4254.7124
Epoch 131/200
34/34 [==============================] - 0s 12ms/step - loss: 4212.9419 - mae: 4212.9419
Epoch 132/200
34/34 [==============================] - 0s 12ms/step - loss: 4178.0889 - mae: 4178.0889
Epoch 133/200
34/34 [==============================] - 0s 13ms/step - loss: 4130.9727 - mae: 4130.9727
Epoch 134/200
34/34 [==============================] - 0s 12ms/step - loss: 4093.7798 - mae: 4093.7798
Epoch 135/200
34/34 [==============================] - 0s 12ms/step - loss: 4056.3350 - mae: 4056.3350
Epoch 136/200
34/34 [==============================] - 0s 12ms/step - loss: 4025.1702 - mae: 4025.1702
Epoch 137/200
34/34 [==============================] - 0s 13ms/step - loss: 4004.4653 - mae: 4004.4653
Epoch 138/200
34/34 [==============================] - 0s 12ms/step - loss: 3988.2295 - mae: 3988.2295
Epoch 139/200
34/34 [==============================] - 0s 12ms/step - loss: 3950.1294 - mae: 3950.1294
Epoch 140/200
34/34 [==============================] - 0s 13ms/step - loss: 3934.1724 - mae: 3934.1724
Epoch 141/200
34/34 [==============================] - 1s 18ms/step - loss: 3924.2827 - mae: 3924.2827
Epoch 142/200
34/34 [==============================] - 0s 13ms/step - loss: 3904.1560 - mae: 3904.1560
Epoch 143/200
34/34 [==============================] - 0s 10ms/step - loss: 3882.4158 - mae: 3882.4158
Epoch 144/200
34/34 [==============================] - 0s 12ms/step - loss: 3870.1855 - mae: 3870.1855
Epoch 145/200
34/34 [==============================] - 0s 14ms/step - loss: 3860.8518 - mae: 3860.8518
Epoch 146/200
34/34 [==============================] - 0s 12ms/step - loss: 3848.6812 - mae: 3848.6812
Epoch 147/200
34/34 [==============================] - 0s 12ms/step - loss: 3838.9573 - mae: 3838.9573
Epoch 148/200
34/34 [==============================] - 0s 12ms/step - loss: 3835.4939 - mae: 3835.4939
Epoch 149/200
34/34 [==============================] - 0s 13ms/step - loss: 3820.0857 - mae: 3820.0857
Epoch 150/200
34/34 [==============================] - 0s 13ms/step - loss: 3811.9199 - mae: 3811.9199
Epoch 151/200
34/34 [==============================] - 0s 12ms/step - loss: 3806.7444 - mae: 3806.7444
Epoch 152/200
34/34 [==============================] - 0s 12ms/step - loss: 3805.5977 - mae: 3805.5977
Epoch 153/200
34/34 [==============================] - 0s 12ms/step - loss: 3800.9641 - mae: 3800.9641
Epoch 154/200
34/34 [==============================] - 1s 23ms/step - loss: 3792.6953 - mae: 3792.6953
Epoch 155/200
34/34 [==============================] - 0s 13ms/step - loss: 3789.0454 - mae: 3789.0454
Epoch 156/200
34/34 [==============================] - 0s 11ms/step - loss: 3787.4744 - mae: 3787.4744
Epoch 157/200
34/34 [==============================] - 0s 12ms/step - loss: 3782.1931 - mae: 3782.1931
Epoch 158/200
34/34 [==============================] - 0s 11ms/step - loss: 3775.9150 - mae: 3775.9150
Epoch 159/200
34/34 [==============================] - 0s 12ms/step - loss: 3775.1375 - mae: 3775.1375
Epoch 160/200
34/34 [==============================] - 0s 13ms/step - loss: 3776.8083 - mae: 3776.8083
Epoch 161/200
34/34 [==============================] - 0s 12ms/step - loss: 3773.5127 - mae: 3773.5127
Epoch 162/200
34/34 [==============================] - 0s 12ms/step - loss: 3762.8601 - mae: 3762.8601
Epoch 163/200
34/34 [==============================] - 0s 12ms/step - loss: 3761.9419 - mae: 3761.9419
Epoch 164/200
34/34 [==============================] - 0s 12ms/step - loss: 3765.1555 - mae: 3765.1555
Epoch 165/200
34/34 [==============================] - 1s 18ms/step - loss: 3759.4697 - mae: 3759.4697
Epoch 166/200
34/34 [==============================] - 1s 15ms/step - loss: 3761.1174 - mae: 3761.1174
Epoch 167/200
34/34 [==============================] - 0s 12ms/step - loss: 3760.2744 - mae: 3760.2744
Epoch 168/200
34/34 [==============================] - 0s 14ms/step - loss: 3753.3792 - mae: 3753.3792
Epoch 169/200
34/34 [==============================] - 0s 11ms/step - loss: 3750.5793 - mae: 3750.5793
Epoch 170/200
34/34 [==============================] - 0s 12ms/step - loss: 3749.2981 - mae: 3749.2981
Epoch 171/200
34/34 [==============================] - 0s 12ms/step - loss: 3748.1565 - mae: 3748.1565
Epoch 172/200
34/34 [==============================] - 0s 12ms/step - loss: 3750.0771 - mae: 3750.0771
Epoch 173/200
34/34 [==============================] - 0s 12ms/step - loss: 3744.5735 - mae: 3744.5735
Epoch 174/200
34/34 [==============================] - 0s 12ms/step - loss: 3749.6677 - mae: 3749.6677
Epoch 175/200
34/34 [==============================] - 0s 12ms/step - loss: 3746.0188 - mae: 3746.0188
Epoch 176/200
34/34 [==============================] - 1s 16ms/step - loss: 3747.1973 - mae: 3747.1973
Epoch 177/200
34/34 [==============================] - 1s 18ms/step - loss: 3744.2739 - mae: 3744.2739
Epoch 178/200
34/34 [==============================] - 0s 12ms/step - loss: 3744.2805 - mae: 3744.2805
Epoch 179/200
34/34 [==============================] - 0s 12ms/step - loss: 3743.1514 - mae: 3743.1514
Epoch 180/200
34/34 [==============================] - 0s 12ms/step - loss: 3755.4028 - mae: 3755.4028
Epoch 181/200
34/34 [==============================] - 0s 12ms/step - loss: 3738.7439 - mae: 3738.7439
Epoch 182/200
34/34 [==============================] - 0s 12ms/step - loss: 3737.0117 - mae: 3737.0117
Epoch 183/200
34/34 [==============================] - 0s 12ms/step - loss: 3736.3220 - mae: 3736.3220
Epoch 184/200
34/34 [==============================] - 0s 14ms/step - loss: 3739.9058 - mae: 3739.9058
Epoch 185/200
34/34 [==============================] - 0s 11ms/step - loss: 3736.9526 - mae: 3736.9526
Epoch 186/200
34/34 [==============================] - 0s 12ms/step - loss: 3736.8818 - mae: 3736.8818
Epoch 187/200
34/34 [==============================] - 1s 16ms/step - loss: 3731.4331 - mae: 3731.4331
Epoch 188/200
34/34 [==============================] - 0s 14ms/step - loss: 3736.0759 - mae: 3736.0759
Epoch 189/200
34/34 [==============================] - 0s 12ms/step - loss: 3732.0796 - mae: 3732.0796
Epoch 190/200
34/34 [==============================] - 0s 12ms/step - loss: 3729.4602 - mae: 3729.4602
Epoch 191/200
34/34 [==============================] - 0s 11ms/step - loss: 3745.4724 - mae: 3745.4724
Epoch 192/200
34/34 [==============================] - 0s 14ms/step - loss: 3731.8000 - mae: 3731.8000
Epoch 193/200
34/34 [==============================] - 0s 11ms/step - loss: 3725.5598 - mae: 3725.5598
Epoch 194/200
34/34 [==============================] - 0s 12ms/step - loss: 3726.9182 - mae: 3726.9182
Epoch 195/200
34/34 [==============================] - 0s 12ms/step - loss: 3725.7185 - mae: 3725.7185
Epoch 196/200

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                120

 dense_1 (Dense)             (None, 10)                110

=================================================================
Total params: 230
Trainable params: 230
Non-trainable params: 0
_________________________________________________________________

In [14]:
# check model's perfomance on the test data
model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 3580.2678 - mae: 3580.2678

[3580.267822265625, 3580.267822265625]